{% extends 'base.html.twig' %}

{% block title %}Hello ReadAllnotebooksController!{% endblock %}

{% block body %}
    <form action="{{ path('app_read_all_devices') }}" method="post" style="margin-bottom: 5rem">
        <label for="computer">Komputer</label>
        <input id="computer" type="checkbox" name="computer" value="true">

        <label for="phone">Telefon</label>
        <input id="phone" type="checkbox" name="phone">

        <label for="monitor">Monitor</label>
        <input id="monitor" type="checkbox" name="monitor">

        <label for="miceAndKeyboards">Klawiatury i myszki</label>
        <input id="miceAndKeyboards" type="checkbox" name="miceAndKeyboards">

        <label for="printers">Drukarki</label>
        <input id="printers" type="checkbox" name="printers">

        <label for="scanners">Drukarki</label>
        <input id="scanners" type="checkbox" name="scanners">

        <label for="tablets">Tablety</label>
        <input id="tablets" type="checkbox" name="tablets">

        <label for="terminals">Tablety</label>
        <input id="terminals" type="checkbox" name="terminals">

        <input id="submit" type="submit" value="Filtruj">
        <a href="{{ path('app_read_all_devices') }}" class="btn">Wyczyść filtry</a>

    </form>

    {% if notebooks is not empty %}
        <div class="list_header">
            <h1 class="h1">KOMPUTERY</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Numer seryjny</th>
                <th>Status</th>
                <th>Model</th>
                <th>Marka</th>
                <th>Nazwa domeny</th>
                <th>MAC adres LAN</th>
                <th>MAC adres WLAN</th>
                <th>IP</th>
                <th>Loklizacja</th>
                <th>Data przekazania</th>
                <th>Rodzaj urządzenia</th>
                <th>Użytkownik</th>
            </tr>
            </thead>
            <tbody>
            {% for notebook in notebooks %}
                <tr>
                    <td>{{ notebook.serialNumber }}</td>
                    <td>{{ notebook.status }}</td>
                    <td>{{ notebook.model }}</td>
                    <td>{{ notebook.brand }}</td>
                    <td>{{ notebook.domainName }}</td>
                    <td>{{ notebook.macAddressLAN }}</td>
                    <td>{{ notebook.macAddressWIFI }}</td>
                    <td>{{ notebook.IP }}</td>
                    <td>{{ notebook.Localization }}</td>
                    <td>{{ notebook.dateFrom|date('d-m-Y') }}</td>
                    <td>{{ notebook.deviceType.type }}</td>
                    <td>
                        <a href="{{ path('app_user_devices', {'id': notebook.user.id}) }}">{{ notebook.user.name }} {{ notebook.user.surname }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if phones is not empty %}
        <div class="list_header">
            <h1 class="h1">TELEFONY</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number IMEI</th>
                <th>Marka</th>
                <th>Model</th>
                <th>MAC adres WLAN</th>
                <th>PIN</th>
                <th>PUK</th>
                <th>Użytkownik</th>
            </tr>
            </thead>
            <tbody>
            {% for phone in phones %}
                <tr>
                    <td>{{ phone.deviceType.type }}</td>
                    <td>{{ phone.imeiNumber }}</td>
                    <td>{{ phone.brand }}</td>
                    <td>{{ phone.model }}</td>
                    <td>{{ phone.macAddressWIFI }}</td>
                    <td>{{ phone.PIN }}</td>
                    <td>{{ phone.PUK }}</td>
                    <td>
                        <a href="{{ path('app_user_devices', {'id': phone.user.id}) }}">{{ phone.user.name }} {{ phone.user.surname }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if monitors is not empty %}
        <div class="list_header">
            <h1 class="h1">MONITORY</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number seryjny</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Lokalizacja</th>
                <th>Użytkownik</th>
            </tr>
            </thead>
            <tbody>
            {% for monitor in monitors %}
                <tr>
                    <td>{{ monitor.deviceType.type }}</td>
                    <td>{{ monitor.serialNumber }}</td>
                    <td>{{ monitor.brand }}</td>
                    <td>{{ monitor.model }}</td>
                    <td>{{ monitor.localization.address }}</td>
                    <td>
                        <a href="{{ path('app_user_devices', {'id': monitor.user.id}) }}">{{ monitor.user.name }} {{ monitor.user.surname }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if miceAndKeyboards is not empty %}
        <div class="list_header">
            <h1 class="h1">MYSZKI I KLAWIATURY</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number seryjny</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Użytkownik</th>
            </tr>
            </thead>
            <tbody>
            {% for mouseAndKeyboard in miceAndKeyboards %}
                <tr>
                    <td>{{ mouseAndKeyboard.deviceType.type }}</td>
                    <td>{{ mouseAndKeyboard.serialNumber }}</td>
                    <td>{{ mouseAndKeyboard.brand }}</td>
                    <td>{{ mouseAndKeyboard.model }}</td>
                    <td>
                        <a href="{{ path('app_user_devices', {'id': mouseAndKeyboard.user.id}) }}">{{ mouseAndKeyboard.user.name }} {{ mouseAndKeyboard.user.surname }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if printers is not empty %}
        <div class="list_header">
            <h1 class="h1">DRUKARKI</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number seryjny</th>
                <th>Marka</th>
                <th>Model</th>
            </tr>
            </thead>
            <tbody>
            {% for printer in printers %}
                <tr>
                    <td>{{ printer.deviceType.type }}</td>
                    <td>{{ printer.serialNumber }}</td>
                    <td>{{ printer.brand }}</td>
                    <td>{{ printer.model }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {% if scanners is not empty %}
        <div class="list_header">
            <h1 class="h1">SKANERY</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number seryjny</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Lokalizacja</th>
            </tr>
            </thead>
            <tbody>
            {% for scanner in scanners %}
                <tr>
                    <td>{{ scanner.deviceType.type }}</td>
                    <td>{{ scanner.serialNumber }}</td>
                    <td>{{ scanner.brand }}</td>
                    <td>{{ scanner.model }}</td>
                    <td>{{ scanner.localization.address }} {{ scanner.localization.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if tablets is not empty %}
        <div class="list_header">
            <h1 class="h1">TABLETY</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number seryjny</th>
                <th>Marka</th>
                <th>Model</th>
                <th>MAC adres LAN</th>
                <th>IP</th>
                <th>Lokalizacja</th>
            </tr>
            </thead>
            <tbody>
            {% for tablet in tablets %}
                <tr>
                    <td>{{ tablet.deviceType.type }}</td>
                    <td>{{ tablet.serialNumber }}</td>
                    <td>{{ tablet.brand }}</td>
                    <td>{{ tablet.model }}</td>
                    <td>{{ tablet.macAddressLAN }}</td>
                    <td>{{ tablet.IPAddress }}</td>
                    <td>{{ tablet.localization.address }} {{ tablet.localization.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if terminals is not empty %}
        <div class="list_header">
            <h1 class="h1">TERMINALE</h1>
        </div>
        <table class="device_list">
            <thead>
            <tr>
                <th>Rodzaj urządzenia</th>
                <th>Number seryjny</th>
                <th>Marka</th>
                <th>Model</th>
            </tr>
            </thead>
            <tbody>
            {% for terminal in terminals %}
                <tr>
                    <td>{{ terminal.serialNumber }}</td>
                    <td>{{ terminal.brand }}</td>
                    <td>{{ terminal.model }}</td>
                    <td>{{ terminal.localization.address }} {{ terminal.localization.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
