<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header class="header_tools">
        <div>
            {% if app.request.attributes.get('_route') != 'app_home' %}
                <a href="{{ path('app_home') }}">Powrót do strony głównej</a>
            {% endif %}
        </div>
        <div class="user_panel">
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Zaloguj</a>
                <a href="{{ path('app_register') }}">Zarejestruj się</a>
            {% endif %}

            {% if app.user %}
            Użytkownik: {{ app.user.userIdentifier }}
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_register') }}">Dodaj nową osobę</a>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_update_roles') }}">Dodaj rolę użytkownika</a>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_device_type') }}">Dodaj typ urządzenia</a>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('app_localization') }}">Dodaj lokalizacje</a>
            {% endif %}

            {% if app.user %}
                <a href="{{ path('app_change_password') }}">Zmień hasło</a>
            {% endif %}

            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
        </div>
</header>
{% block body %}{% endblock %}
</body>
</html>
